body {
	font-family: "Helvetica", "Garamond", sans-serif;
	font-size: 24px;
}
.topicheader {
	margin: 1%;
	
}
.clear {
	clear: both;
	overflow: hidden;
}
.response {
	margin: 5%;
	font-size: 50%;
}
.replybutton {
	border: 1px solid #000;
	background-color: grey;
	width: 10%;
	float: left;
	margin: 10px;
	padding: 4px;
	cursor: pointer;
	text-align: center;
}
.replybutton:hover {
	cursor: pointer;
	color: red;
}
 @media screen and (min-width: < 600px) {
	#main {
		width: 400px;
		min-height: 400px;
		height: auto;
	}
}


@media screen and (min-width: >= 800) {
	#main {
		width: 960px;
		min-height: 800px;
		border: 1px solid #000;
		
	}
}

